<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Week Day</title>
</head>
<body>
    <% if (dayOfTheWeek === 'Monday'){ %>
        <h1 style="color: purple;">Its <%= dayOfTheWeek %> </h1>
    <% }else{ %>
        <h1 style="color: blue;"> It's <%= dayOfTheWeek %></h1>
    <% } %>
    
</body>
</html>